v-app
  v-layout(column='')
    template(v-if='showToolbar()')
      v-toolbar.primary(dark='')
        v-toolbar-side-icon.white--text(@click.stop='drawer = !drawer')
        v-toolbar-title.white--text {{ appTitle }}
        v-spacer
        user-menu
      v-navigation-drawer(temporary='', v-model='drawer', overflow='', absolute='')
        settings
    v-container.main-container.flex(fluid='')
