.container
  padding: 0
  text-align: center

.entrance
  padding: 15px

.title
  margin: 0 0 15px 0

.entrance__page
  position: absolute

.entrance__chosen-value
  text-decoration: underline
  margin: 15px 0
  cursor: pointer

.input-group
  padding-top: 0

.entrance__loader
  margin: 0 0 15px 0
  align-items: center

.entrance__section-title
  background-color #EEEEEE
  margin: 0 -15px
  padding: 5px 0
  text-align center

.input-group--select
  margin: 15px 0 0 0

.entrance__city_appliance
  margin: 8px 0 15px 0

.entrance__city-question
  margin: 0 0 -10px 0
