v-app
  widget-article
    v-card
      v-card-title
        h3 Выберите ваш язык
        v-container(fluid)
          v-layout(column)
            v-flex
              v-select(
              :items="languages"
              v-model="language"
              class="input-group--focused"
              item-text="title"
              item-value="id"
              )
      v-card-actions
        v-btn.blue.white--text(@click="$router.push('/')") ДАЛЕЕ
