.attach_preview {
  max-width: 100%;
  max-height:154px;
  margin: 0 auto;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    max-height:154px;
  }
}

.attach__filename {
  text-align: center;
  font-weight:700;
  margin:10px 0;
}