v-app
  widget-article
      v-container
        v-layout(column)
          h3.headline.mb-0 Вход
          v-flex
            v-text-field(name='login', :label='loginLabel', v-model='login')
          v-flex
            v-text-field(name='password', v-model='password', :label='passwordLabel', type='password')
          v-flex
            router-link(to='/registration') Зарегистрироваться
          v-btn.green.white--text(@click="$router.push('/app')") ВОЙТИ
