v-app
  v-flex.login__ribbon.blue
  v-card.login__card
    v-card-title(primary-title='')
      h3.headline.mb-0 Регистрация
      v-container(fluid='')
        v-layout(column='')
          v-flex
            v-text-field(name='input-1', :label='loginLabel', v-model='login')
          v-flex
            v-text-field(name='input-1', v-model='password', :label='passwordLabel', type='password')
          v-flex
            router-link(to='/login') Войти
    v-card-actions
      v-btn.green.white--text(@click="$router.push('/app')") ЗАРЕГИСТРИРОВАТЬСЯ
